.App {
  /* background-color: #fff6dd; */
  background-image: linear-gradient(#a0067c, #180b4d);
  /* font-family: "Major Mono Display", monospace; */
  font-family: "Montserrat", sans-serif;
}

.cregs-container {
  margin: 40px, 10px, 0px, 10px;
}
