.container {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  display: grid;
  grid-template-areas:
    "L H H H H "
    "L A A R R "
    "L A A F F ";
  color: #7c7c7c;
}

.name {
  grid-area: H;
}
.age {
  grid-area: R;
  text-align: center;
}
.location {
  grid-area: R;
  margin-top: 50px;
  text-align: center;
}

.bio {
  grid-area: R;
  margin-top: 100px;
  margin-left: 50px;
}
.delete {
  grid-area: F;
  margin-top: 100px;
  margin-left: 50px;
}

.social {
  grid-area: F;
  margin-left: 5px;
}

.insta,
.facebook,
.twitter {
  width: 40px;
  height: 40px;
}
.img {
  max-width: 300px;
  grid-area: L;
  margin-top: 10px;
  border-style: dashed;
  padding: 10px;
  border-color: #d64933;
}

button {
  color: #2b303a;
  background-color: #d64933;
  font-size: 14px;

  padding: 10px;
  border-radius: 5%;
}

@media screen and (min-width: 310px) and (max-width: 700px) {
  .container {
    margin-top: 40px;
    margin: 0;
    display: grid;
    grid-template-areas:
      "H H H H"
      "L L L L"
      "R R R R"
      "F F F F";
    color: #7c7c7c;
  }
  .name {
    grid-area: H;
  }
  .age {
    grid-area: R;
    text-align: center;
  }
  .location {
    grid-area: R;

    text-align: center;
  }

  .bio {
    grid-area: R;

    margin-left: 5px;
    margin-right: 5px;
  }

  .delete {
    grid-area: F;
    margin-left: 0;
    justify-self: center;
    margin-bottom: 5px;
  }

  .social {
    grid-area: F;
    justify-self: center;
    margin-left: 0px;
    padding: 0;
    align-content: space-between;
    margin-bottom: 0;
    justify-content: space-around;
  }

  .img {
    width: fit-content;
    margin: 0, auto;
    grid-area: L;

    justify-self: center;
  }
}
