.container {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  display: grid;
  grid-template-areas:
    "L H H H H H"
    "L A A R R R"
    "L A A F F F";
  color: #7c7c7c;
}

.name {
  grid-area: H;
}
.age {
  grid-area: R;
  text-align: center;
}
.location {
  grid-area: R;
  margin-top: 50px;
  text-align: center;
}

.bio {
  grid-area: R;
  margin-top: 100px;
  margin-left: 50px;
}
.delete {
  grid-area: F;
  margin-top: 100px;
  margin-left: 50px;
}

.social {
  grid-area: F;
  /* margin-left: 50px; */
  align-items: baseline;
}

.insta,
.facebook,
.twitter {
  width: 40px;
  height: 40px;
}
.img {
  width: 400px;
  grid-area: L;
  margin-top: 10px;
  border-style: dashed;
  padding: 10px;
  border-color: #d64933;
}

button {
  color: #2b303a;
  background-color: #d64933;
  font-size: 14px;

  padding: 10px;
  border-radius: 5%;
}
