.SearchInput {
  display: flex;

  justify-content: center;
  background-color: #2ec4b6;

  color: #5e0098;
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
  border-radius: 20px;
  border-style: none;

  height: 40px;
  margin: 0 auto;
  padding: 10px 10px;
  transition: all ease-in-out 250ms;
  margin-top: 30px;
}

.image {
  width: 250px;
  padding: 5px;
  border-style: double;
  border-color: #b133ff;
  margin-top: 10px;
  transition: all ease-in-out 250ms;
}

.image:hover,
.SearchInput:hover {
  border-color: #33f2df;
}

.Container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.name {
  text-align: center;

  color: #2ec4b6;
}

a:link {
  text-decoration: none;
}
/* 
@media screen and (max-width: 700px) {
  .SearchInput {
  }
} */
