.header {
  color: #d64933;
  grid-column: 1;
  font-size: 3rem;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.buttonform {
  font-size: 18px;
  transition: all ease-in-out 250ms;
}

.Nav {
  margin-bottom: 10px;

  display: inline-block;
  background-color: #2b303a;
  justify-content: space-between;

  padding: 0 20px;
  display: flex;
}

.Link,
.Linkform {
  text-decoration: none;
  font-size: 20px;
  padding: 0 20px;
  color: #d64933;
  transition: all ease-in-out 250ms;
}

.Link:hover,
.Linkform :hover,
.buttonform:hover {
  color: #92dce5;
}

@media screen and (min-width: 310px) and (max-width: 1140px) {
  .Nav {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin-right: 0;
  }

  ul {
    grid-row: 2;
    grid-column: 1;
    padding-left: 10px;
  }

  .Link,
  .buttonform {
    font-size: 1rem;
    padding-right: 10px;
  }
}
