.header {
  color: #d64933;
  margin: 0;
  font-size: 34px;
}
.Nav {
  margin-bottom: 10px;
  display: inline-block;
  background-color: #2b303a;
  justify-content: space-between;
  padding: 1rem;
  display: flex;
}

.Link {
  text-decoration: none;
  font-size: 20px;
  justify-content: space-between;
  color: #d64933;
}
